{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mohamed Kabia</title>
    <meta name="description" content="Mohamed Kabia is a Self-taught Software Developer and an entrepreneur">
    <meta name="google-site-verification" content="googlea248b39c62e6e6ea">
    <link rel="icon" href="{% static './img/mk.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'custum.css' %}">
    <link rel="stylesheet" href="{% static 'grid.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.2.45/css/materialdesignicons.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
{% block content %}
{% endblock %}
<script src="{% static 'main.js' %}"></script>
</body>
</html>