* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.s-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  padding: 16px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #a7dda7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s-icon {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  white-space: nowrap;
  font-size: 2rem;
  position: absolute;
  top: -5px;
  right: -10px;
}

.s-icon:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  background: gray;
  color: red;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.1rem;
  font-family: 'Roboto', 'Times New Roman';
}

body p {
  line-height: 1.5rem;
  font-weight: 300;
}

.octagon {
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  background: -webkit-gradient(linear, left top, left bottom, from(#302A50), to(#F51448));
  background: linear-gradient(#302A50, #F51448);
  width: 90px;
  height: 90px;
  color: black;
}

.octagon .icon {
  font-size: 30px;
  color: #f1f1f1;
}

.center {
  text-align: center;
}

.stack {
  color: #3f3b3b;
}

.stack .s-col-sm-6 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.stack .s-d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.bg-color {
  background: #302A50;
}

.h-100 {
  min-height: 100vh;
}

.container {
  margin: 0 auto;
}

.center-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#btop {
  position: fixed;
  right: 15px;
  bottom: 20px;
}

.toolbar {
  position: fixed;
  top: 0;
  background-color: #302A50;
  width: 100%;
}

.toolbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f1f1f1;
  white-space: nowrap;
}

.spacer {
  width: 100% !important;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link ul {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.nav-link ul li {
  padding: 8px 16px;
  list-style: none;
  border-radius: 4px;
}

.nav-link ul li a {
  text-decoration: none;
  color: #f1f1f1;
}

.mobile-nav-link {
  position: fixed;
  right: 0;
  top: 0;
  -webkit-clip-path: circle(0.4% at 100% 0);
          clip-path: circle(0.4% at 100% 0);
  background: #3d3858;
  color: #f1f1f1;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
}

.mobile-nav-link ul {
  margin: 40px auto;
  display: block;
  color: #f1f1f1;
  z-index: 1000;
}

.mobile-nav-link ul li {
  list-style-type: none;
  line-height: 2.4rem;
}

.mobile-nav-link ul li a {
  text-decoration: none;
  color: #f1f1f1;
}

.mobile-nav-link ul li a .active {
  border-radius: 4;
}

.menu-wrapper {
  position: fixed;
  top: 10px;
  right: 15px;
  background: #F51448;
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
  text-align: center;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  background-color: #F51448;
  display: none;
}

.mobile-nav-link.show {
  width: 100%;
  height: 100vh;
  -webkit-clip-path: circle(40.5% at 81% 23%);
          clip-path: circle(40.5% at 81% 23%);
}

.active {
  background: linear-gradient(73deg, #F51448, #302A50);
}

.container {
  color: #f1f1f1;
  padding: 16px;
}

.name {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Noto Serif', serif;
}

.name span {
  color: #F51448;
}

.mt-30 {
  margin-top: 40px;
}

.mt-70 {
  margin-top: 120px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.s-heading {
  font-size: 5.2rem;
}

.space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.secondary-text {
  color: #F51448;
}

.responsive {
  width: 100%;
}

button {
  border: 0;
  padding: 8px 15px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F51448), to(#302A50));
  background: linear-gradient(#F51448, #302A50);
  color: #f1f1f1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.mt-20 {
  margin-top: 20px;
}

button.text {
  background: transparent;
  color: rgba(245, 20, 72, 0.7);
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

button.text:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F51448), to(#302A50));
  background: linear-gradient(#F51448, #302A50);
  background-position: left;
  background-size: 300%;
  color: #f1f1f1;
  -webkit-transition: -webkit-box-shadow 1;
  transition: -webkit-box-shadow 1;
  transition: box-shadow 1;
  transition: box-shadow 1, -webkit-box-shadow 1;
  -webkit-box-shadow: inset 3px 1px 0 #fafafa;
          box-shadow: inset 3px 1px 0 #fafafa;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.card {
  padding: 16px;
  -webkit-box-shadow: inset 0 2px 10px rgba(245, 20, 72, 0.8);
          box-shadow: inset 0 2px 10px rgba(245, 20, 72, 0.8);
  background-color: rgba(41, 36, 68, 0.5);
}

p {
  line-height: 1.3rem;
}

#about {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%231b182d'/%3E%3Cstop offset='1' stop-color='%232b2547'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%238f8f8f'/%3E%3Cstop offset='0.09' stop-color='%23b3b3b3'/%3E%3Cstop offset='0.18' stop-color='%23c9c9c9'/%3E%3Cstop offset='0.31' stop-color='%23dbdbdb'/%3E%3Cstop offset='0.44' stop-color='%23e8e8e8'/%3E%3Cstop offset='0.59' stop-color='%23f2f2f2'/%3E%3Cstop offset='0.75' stop-color='%23fafafa'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top left;
}

.s-center {
  text-align: center;
}

hr {
  background-color: #302A50;
  width: 100%;
  height: 1px;
}

.dark-text {
  color: #3f3b3b;
}

.light-text {
  color: #f1f1f1;
}

label {
  width: 100%;
  margin-top: 60px;
}

input {
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  width: 100%;
  border-radius: 4px;
  padding: 8px 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.fluid {
  border-radius: 4px;
  width: 100%;
  min-height: 150px;
  padding: 16px;
}

.bg {
  background-color: #302A50;
}

@media (max-width: 731px) {
  .nav-link {
    display: none;
  }
  .menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    color: #f1f1f1;
  }
  .s-heading {
    font-size: 3rem;
  }
  .sm-overlay {
    background: rgba(236, 236, 236, 0.534);
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
  .lg-device {
    display: block;
  }
  .mobile-devices {
    display: none;
  }
}

@media (max-width: 992px) {
  .lg-device {
    display: none;
  }
  .mobile-devices {
    display: block;
  }
  .s-col-sm-12 {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.menu-wrapper {
  width: 30px;
  height: 24px;
  cursor: pointer;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 30px;
  height: 4px;
}

.hamburger-menu {
  margin-top: 12px;
  position: relative;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  background: white;
  -webkit-transition: all 0ms 300ms;
  transition: all 0ms 300ms;
}

.hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  background: white;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  background: white;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
/*# sourceMappingURL=custum.css.map */